body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/full_bg1.jpg);
}

.landing-container {
    text-align: center;
}

h1 {
    color: #585858;
    font-size: 3em;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 15px 30px;
    background-color: rgb(229, 229, 229);
    color: #0072ff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0072ff;
    color: white;
}